<% content_for :name do %>
  Super Users
<% end %>


<% content_for :admin_content do %>

  <div class="overflow-auto w-full">

    <div class="mt-4 mx-4 justify-center">

      <div class=" ">
        <table class="divide-y  divide-gray-300 ">
          <thead class="bg-gray-50">
          <tr>
            <th class="px-6 py-2  text-gray-700">
              ID
            </th>
            <th class="px-6 py-2 text-gray-700">
              Email
            </th>
            <th class="px-6 py-2 text-gray-700">
              Role
            </th>
            <th class="px-6 py-2 text-gray-700">
              Permissions
            </th>
            <th class="px-6 py-2 text-gray-700">
              Password
            </th>

            <th class="px-6 py-2 text-gray-700">
              Actions
            </th>

          </tr>
          </thead>

          <%= render  partial: 'admin/super_users/super_users', collection: @super_users %>

        </table>
      </div>


    </div>

  </div>


<% end %>